.ui {
    width: 100%;
    height: 500px;
    border: none;
    position: absolute;
    top: 100px;
    left: 0px;
}
/*轮播图样式设计*/
.carousel-container {
  width: 100%;
  height: 100%;
  border: 1px solid #ccc;
  overflow: hidden;
  position: relative;
}
.carousel-image {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.5s ease;
}
.carousel-image:first-child {
  opacity: 1;
}
.fx {
    width: 300px;
    height: 60px;
    border: none;
    position: absolute;
    top: 650px;
    left: 500px;
}
.fxi {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.qa {
    font-size: 30px;
    font-weight: 600;
    color: #0f4d95;
    position: absolute;
    top: -20px;
    left: 45px;
}
.sx {
    width: 1100px;
    height: 400px;
    border: 1px solid darkkhaki;
    position: absolute;
    top: 750px;
    left: 100px;
}
.sx iframe {
    width: 100%;
    height: 100%;
}
.fxa {
    width: 300px;
    height: 60px;
    border: none;
    position: absolute;
    top: 1200px;
    left: 500px;
}
.fxia {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.qaa {
    font-size: 30px;
    font-weight: 600;
    color: #0f4d95;
    position: absolute;
    top: -20px;
    left: 45px;
}
/*列表样式*/
.un {
    width: 1100px;
    height: 500px;
    position: absolute;
    top: 1320px;
    left: 100px;
}
table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
}
th, td {
    border: 1px solid #000;
    padding: 8px;
    text-align: center;
    }
th {
    background-color: #f2f2f2;
    font-weight: bold;
    }
.side-note {
    font-size: 0.8rem;
    color: #666;
    }
/*版权样式设计*/
.other {
    z-index: 100;
    width: 100%;
    height: 100px;
    background-color: #249cad;
    position: absolute;
    top: 1950px;
}
.foo {
    font-size: 18px;
    color: white;
    font-weight: 400;
    position: absolute;
    top: 15px;
    left: 250px;
}