/*轮播图样式*/
.carousel-container {
  width: 100%;
  height: 500px;
  border:none;
  overflow: hidden;
  position: absolute;
  top: 99px;
  left: 0px;
}
.carousel-image {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.5s ease;
}
.carousel-image:first-child {
  opacity: 1;
}
.uh {
    width: 250px;
    height: 60px;
    border: none;
    position: absolute;
    top: 650px;
    left: 500px;
}
.ev {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
}
.td {
    font-size: 40px;
    font-weight: 700;
    color: #0f4d95;
    position: absolute;
    top: -40px;
    left: 45px;
}
.suk {
    width: 1100px;
    height: 1180px;
    border: none;
    position: absolute;
    top: 750px;
    left: 100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 10px;
}
.h {
    margin-top: 20px;
    margin-left: 30px;
    width: 300px;
    height: 355px;
    background-color: white;
    border-radius: 10px;
    position: relative;
}
.h:hover {
    cursor: pointer;
    transform: scale(1.04);
}
.hi {
    width: 150px;
    height: 200px;
    position: relative;
    top: 50px;
    left: 70px;
}
.hc {
    margin-top: 50px;
    font-size: 20px;
    color: black;
    font-weight: 500;
    display: flex;
    justify-content: center;
}
.hv {
    color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
}
.other {
    z-index: 100;
    width: 100%;
    height: 100px;
    background-color: #249cad;
    position: absolute;
    top: 1950px;
}
.foo {
    font-size: 18px;
    color: white;
    font-weight: 400;
    position: absolute;
    top: 15px;
    left: 250px;
}